<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>kodbook</title>
</head>
<body> 
      <h2>Welcome to kodbook!</h2>
      <form action="/openLogin">
      <label>Username : </label>
      <input type="text" name="username"> <br><br>
      <label>Password : </label>
      <input type="password" name="password"> <br><br>
      <input type="submit" value="LOGIN" >
      <hr>
      <a href="openResetPassword">forgot password!</a>
      <a href="openSignUp">create a new account</a>
      </form>

</body>
</html>