<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <h2>kodbook sign up</h2>
      <form action="/signUp" method="post">
      <label>Username : </label>
      <input type="text" name="username"> <br><br>
      <label>email : </label>
      <input type="email" name="email"> <br><br>
      <label>Password : </label>
      <input type="password" name="password"> <br><br>
      <label>dob : </label>
      <input type="date" name="dob"> <br><br>
      <label>gender : </label>
      <label>M</label>  <input type="radio" name="gender" value="male"> 
      <label>f</label>  <input type="radio" name="gender" value="female">
      <label>o</label>  <input type="radio" name="gender" value="other"> <br><br>
      <input type="submit" value="signUp">
      <input type="submit" value="login">
      <hr>
    
      <a href="openResetPassword">forgot password!</a>
      <a href="/">already have an account</a>
      </form>

</body>
</html>